// colors //
$primary: #1a03b0;
$seconday: #0f0264;
$tertiary: #e9e6ff;
$white: #F5F5F5;

// fonts //
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

$main-font: 'Roboto', sans-serif;
$secondary-font: 'Lato', sans-serif;

header{
	#main-header{
		background-color: $primary;
		color: $white;
	}.social-media{
		display: inline-block;
	}
}